
#cb-loc-label {
    color: white;
    background-color: saddlebrown;
}

location {
    color: white;
    background-color: saddlebrown;
    opacity: 0.5;
}
.location-off{
    color: saddlebrown;
    background-color: transparent;
    opacity: 1;

}

#cb-org-label {
    color: white;
    background-color: slateblue;
}

organization {
    color: white;
    background-color: slateblue;
    opacity: 0.5;
}
.organization-off {
    color: slateblue;
    background-color: transparent;
    opacity: 1;
}

#cb-per-label{
    color: white;
    background-color: orangered;
}

person  {
    color: white;
    background-color: orangered;
    opacity: 0.5;
}

.person-off {
    color: orangered;
    background-color: transparent;
    opacity: 1;
}


#view-nav-top{
    padding-bottom: 20px;
    display: block;
}

#view-nav-bottom{
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
}

#ocr-body-view{
    margin: 0;
    overflow-y: hidden;
    padding-bottom: 55px;
}

.book-text{
    padding-left: 30px;
}

.page-place-holder {
    padding-top: 200px;
    padding-bottom: 200px;
}
#ocr-results-right {

    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;

}