
#cb-loc-label {
    color: white;
    background-color: saddlebrown;
}

location {
    color: white;
    background-color: saddlebrown;
    opacity: 0.5;
}
.location-off{
    color: saddlebrown;
    background-color: transparent;
    opacity: 1;

}

#cb-org-label {
    color: white;
    background-color: slateblue;
}

organization {
    color: white;
    background-color: slateblue;
    opacity: 0.5;
}
.organization-off {
    color: slateblue;
    background-color: transparent;
    opacity: 1;
}

#cb-per-label{
    color: white;
    background-color: orangered;
}

person  {
    color: white;
    background-color: orangered;
    opacity: 0.5;
}

.person-off {
    color: orangered;
    background-color: transparent;
    opacity: 1;
}


#view-nav-top{
    padding-bottom: 20px;
    display: block;
}

#view-nav-bottom{
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
}

#ocr-body-view{
    margin: 0;
    overflow-y: hidden;
    padding-bottom: 60px;
}

.book-text{
    padding-left: 30px;
}

.page-place-holder {
    padding-top: 200px;
    padding-bottom: 200px;
}
#ocr-results-right {

    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
}

.page-image img{
    max-width:75%;
    max-height:75%;
    margin:auto;
    display:block;
    box-shadow: 10px 10px 5px #888888;
    border: thin;
    border-color: lightgrey;
    border-style: solid;
}

#page-thumbnails{
    background-color: lightgray;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;

    padding-right: 20px !important;

}
#page-thumbnails-wrapper {
    height: 100%;
    padding-left: 0px !important;
}
#book-search-results{
    background-color: grey;
    height: 0%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    padding-left: 0px !important;
    padding-right: 20px !important;
}

.ocr-page-thumbnail{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    padding-top: 5px;

    display: block;
    width: 100%;
    /* having a border the same color as the
     * background prevents the image from "jumping"
     * when we hover over it.
     */
    border-color: lightgrey;
    border-style: solid;
    border-radius: 5px;
}

.ocr-page-thumbnail:hover {
    cursor: hand;
    border: solid;
    border-color: #009;
    border-radius: 5px;
}

.ocr-current-page {
    cursor: hand;
    border: solid;
    border-radius: 5px;
    border-color: orangered;
}

.ocr-page-result{
    border: solid ;
    border-color: gold !important;
    border-radius: 5px;
}

#book-search-results a{
    color: black;
}

.ocr-page-result:hover {
    cursor: hand;
    border: solid;
    background-color: #009;
    color: white;
}

.hr-tmp{
    padding-left: 20px;
}

mark{
    font-weight: bold;
    color: black;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('../images/grips/horizontal.png');
    cursor: ns-resize;
}
.split {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    overflow-y: auto;
    overflow-x: hidden;
}
