/* CSS for query builder */

.button:hover.term {
    background-color: cornflowerblue;
    color: white;
}

.button span.term-check-mark {
    color: blueviolet;
    font-weight: bold;
}

.term-check-mark:after {
    font-family: "Glyphicons Halflings";
    content: "\e013"; /* check mark */
    color: blueviolet;
    padding-left: 5px;
}

.query-terms-area {
    background-color: lightgrey;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
}

#query-builder-query {
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
}

#query-div {
    margin: 5px;
    padding: 10px;
}
