#results{
    /* add some padding so the relevance judgements can be seen for the first result */
    padding-top: 30px;
}

#results-left {
    background-color: white;
    border-right: 1px solid #888;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;

}

#results-right {

    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;

}

.snippet {
    padding: 2pt;
    color: #666;
}

.hili {
    color: black;
    font-weight: bold;
}

#parsedQuery {
    font-family: monospace;
    display: none;
}

#request {
    display: none;
}

#progress {
    color: white;
    text-align: right;
    vertical-align: middle;
    font-family: monospace;
    display: inline;
}

#error {
    color: white;
    background-color: #a00;
    font-weight: bold;
    text-align: center;
    display: none;
    padding: 10pt;
    margin: 0;
}

#footer {
    margin: 0;
    margin-top: 40pt;
    padding: 10pt;
    background-color: #009;
    text-align: left;
}

#more {
    text-align: center;
}

#ui {

    margin: 0;
    padding-bottom: 10pt;
    padding-top: 10pt;
    background-color: #009;

}

#Xui-search {
    width: 70%;
}

#title {
    float: left;
    margin: 0;
    vertical-align: middle;
    padding-right: 20pt;
    font-size: 20pt;
    font-weight: bold;
    height: 20pt;
    color: #fff;
}

#user-info, #ui-login-form {
    text-align: right;

 /*   float: right; */
    height: 20pt;
    vertical-align: middle;
}

.login-form-text {
    color: #fff;
    text-align: right;
    font-weight: bold;
    vertical-align: middle;
}


#ui-go-logout {
    text-align: right;
}

.result {
    /*border-bottom: 1px solid grey;*/
    padding-left: 20pt;
    padding-right: 20pt;
}

.result .preview {
    padding: 10pt;
}

img.ia-thumbnail {
    width: 100px;
    height: 120px;
}

.result .rank {
    color: grey;
    padding-right: 10pt;
}

.result .name {
}

.result .score {
    color: grey;
    text-align: right;
}

.create-label-form {
    background-color: yellow;
    box-shadow: 10px 10px 5px #888888;
    padding: 10px;
    border: 2px solid gray;
    margin: 0px;
}

.read-only-li {
    background-color: red;
}

#tag-values {
    background-color: dimgray;
}

.type-button {
    margin: 2px 5px 2px 0;
}

/* styles for the drop down list by the search edit box */
.multiselect-item {
    text-align: left;
}

.right-align {
    text-align: right;
}

#view-resource {
    /* render any HTML with newlines */
    /* white-space: pre; */
    text-align: left;
}

/* make navbar smaller (http://stackoverflow.com/questions/19576175/how-do-you-decrease-navbar-height-in-bootstrap-3) */
.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: white;
}

.navbar-nav > li > a:hover {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: white !important;
    color: blue;
    cursor: pointer;
}

.navbar {
    min-height: 32px !important;
    margin-bottom: 0;
}

#sidebar-button {
    position: fixed;
    bottom: 0px;
    left: 0px;

    /*
    color: white;
    font-weight: bold;
    */
    cursor: pointer; cursor: hand;

}

/* override FancyTree CSS */
ul.fancytree-container {
    border: none;
}

td.metakey {
    padding: 8px;
    margin-left: 2cm;
}

body {
    margin: 0;
   /* padding-top: 55px;*/
    overflow-y: hidden;
    padding-bottom: 50px;
}

.label-details {
    background-color: #dedede;
    border: solid;
    padding: 5px;
    box-shadow: 10px 10px 5px #888888;
    position: relative;
    text-align: left;
}

#notes-field{
    width:90%;
}
.notes-label {
    vertical-align: top;
}

.label-details-wrapper {
    z-index: 99999;
    position: relative;
}

#overlay {
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 5000
}

.per {
    color: white;
    background-color: orange;
}
.org {
    color: white;
    background-color: skyblue;
}
.loc {
    color: white;
    background-color: tan;
}

.pageNavigation{
    cursor: pointer; cursor: hand;
}

.pageThumbnail{
    float: left;
}

.ocrPageText{
    float: right;
}

.result:hover{
    background: lightyellow;
}
/* enable scrollbars */
#pastSearches{
    height:30%;
    overflow-y:scroll;
    padding: 1em;
}

.xtmp{
    float: right;
    display: none;
}

.query:hover .xtmp {
    display: block;
}

.query:hover {
    background-color: lightcyan;
    cursor: pointer; cursor: hand;
}

#ratings{
    border: solid;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    overflow-y: visible;
    text-align: right;
}

.rating-user{
    width: 40%;
    display:inline-block;
    text-align: right;
    vertical-align: top;
}
.rating-value{
    width: 60%;
    display:inline-block;
    text-align: left;
}
#search-help{
    padding-left: 15px;
}

.rating-left{
    float: left;
    unicode-bidi: bidi-override;
    direction: rtl;
    padding-right: 5px;
}
.rating-right{
    float: left;

}

.slider-rating{
    width: 400px;
    font-size: small;
}

/* Original from: http://simeydotme.github.io/jQuery-ui-Slider-Pips/#styling-rainbow */
.rainbow-slider {
    background: linear-gradient(to right, red , yellow ,  green );
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    border: none;
    box-shadow: inset 0 0 0px 1px rgba(0, 0, 0, 0.18);
    height: 10px; }

.rainbow-slider .ui-slider-handle {
    background: rgba(255, 255, 255, 0.21);
    border-color: rgba(0, 0, 0, 0.56);
    box-shadow: inset 0 0 2px 2px rgba(255, 255, 255, 0.89);
    border-radius: 20px;
}

.rainbow-slider .ui-slider-handle.ui-state-hover,
.rainbow-slider .ui-slider-handle:hover,
.rainbow-slider .ui-slider-handle.ui-state-focus,
.rainbow-slider .ui-slider-handle:focus,
.rainbow-slider .ui-slider-handle.ui-state-active {
    background: rgba(255, 255, 255, 0.21);
}

.rainbow-slider .ui-slider-pip .ui-slider-label {
    width: 6em;
    margin-left: -3em;
}

.rainbow-slider .ui-slider-pip .ui-slider-line {
    top: 1px;
}

/* override some of the CSS for the average so we don't show the slider */
.ui-slider-ave{
    border: none !important;
    box-shadow: none !important;
    top: .3em !important;
    background: none !important;
}


.rel-label {

    font-weight: bold;
    text-align: center;
    border-radius: 30px;
}
.rel-label-terrible {
     background-color: red;

 }
.rel-label-not-relevant{
    background-color: orange;

}
.rel-label-neutral{
    background-color: yellow;

}
.rel-label-slightly-relevant{
    background-color: lime;

}
.rel-label-highly-relevant{
    background-color: green;
}

.book-text{
    font-size: larger;
}
.page-image img{
    max-width:100%;
    max-height:100%;
    margin:auto;
    display:block;
}

#view-nav-top{
    padding-bottom: 20px;
    display: block;
}

#view-nav-bottom{
    padding-top: 20px;
    display: block;
}

#ui-go-settings{
    float: right;
}

#settings-container{
    background-color: lightgray;
    padding: 20px;
    border-radius: 30px;
    border: solid;
    margin-top: 20px;
}