/* generic CSS */

.right-align {
    text-align: right;
}

.left-align{
    text-align: left;
}
.center-align{
    text-align: center;
}

.navbar {
    min-height: 32px !important;
    margin-bottom: 0;
}

/* make navbar smaller (http://stackoverflow.com/questions/19576175/how-do-you-decrease-navbar-height-in-bootstrap-3) */
.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    color: white;
}

.navbar-nav > li > a:hover {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: white !important;
    color: blue;
    cursor: pointer;
}

.sidebar-button-img {
    position: fixed;
    bottom: 0;
    left: 0;
    cursor: hand;
}

.check-mark:before {
    font-family: "Glyphicons Halflings";
    content:"\e013"; /* check mark */
    color: green;
    padding-right: 5px;
}

.thumbs-up:after {
    font-family: "Glyphicons Halflings";
    content:"\e125"; /* check mark */
    color: grey;
    padding-right: 5px;
}

.hili {
    color: black;
    font-weight: bold;
    background: yellow;
}

.resource-labels{
    background-color: lightgrey;
    padding : 2px;
    border-radius: 5px;
}

.header-link a, .header-link a:visited {
    color: royalblue;
}
.header-link a:hover{
    color: white;
}

.header-font, #title a, #title {
    float: left;
    margin: 0;
    vertical-align: middle;
    padding-right: 20pt;
    font-size: 20pt;
    font-weight: bold;
    height: 20pt;
    color: white;
    text-decoration: none;
}

.form-control-clear {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
    color: grey;
}

/* center horizontally and vertically */
.centered {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15pt;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#overlay {
    opacity: 0.4;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 5000
}

/* based on http://stackoverflow.com/questions/19774653/css3-for-html5-legend-inside-fieldset */
fieldset  {
    font-family: sans-serif;
    border: 5px solid #009;
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
}
fieldset legend {
    background: #009;
    color: #fff;
    padding: 2px 5px ;
    font-size: initial;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #ddd;
    margin-left: 5px;
    width: auto ;
    margin-bottom: 0;
}

/* thin horizontal line */
.facets-hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid #009;
}

::-ms-clear {
    display: none;
}

#ui {
    margin: 0;
    padding-bottom: 10pt;
    padding-top: 10pt;
    background-color: #009;
}

#view-resource {
    text-align: left;
}

img.ia-thumbnail {
    height: 100px;
}

