#results-left{
    background-color: white;
    border-right: 1px solid #888;
    height: 100%;
    top:  0;
    bottom: 0;
    left: 0;
    overflow-y: scroll;	

}

#results-right{

    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;	

}


.snippet {
    padding: 10pt;
    color: #666;
}

.hili {
    color: black;
    font-weight: bold;
}

#parsedQuery {
    font-family: monospace;
    display: none;
}
#request {
    display: none;
}

#progress {
    color: white;
    text-align: right;
    vertical-align: middle;
    font-family: monospace;
    display:inline;
}

#error {
    color: white;
    background-color: #a00;
    font-weight: bold;
    text-align: center;
    display:none;
    padding:10pt;
    margin:0;
}

#footer {
    margin: 0;
    margin-top: 40pt;
    padding: 10pt;
    background-color: #009;
    text-align: left;
}
#more{
    text-align: left;
}

#ui {

    margin: 0;
    padding-bottom: 10pt;
    padding-top: 10pt;
    background-color: #009;

} 

#ui-search {
    width: 50%;
}

#title {
    float: left;
    margin: 0;
    vertical-align: middle;
    padding-right: 20pt;
    font-size: 20pt;
    font-weight: bold;
    height: 20pt;
    color: #fff;
}
#user-info {
    text-align: right;
    float:right;
    height: 20pt;
    vertical-align: middle;
} 

#login-form-text{
    color: #fff;
    text-align: right;
}
#ui-go-logout{
    text-align: right;
}
/*
#login-form {
    float:right;
    height: 20pt;
    vertical-align: middle;
}

#login-form a:hover, #login-form  a:visited {
    color: #fff;
}
*/
.result {
    /*border-bottom: 1px solid grey;*/
    padding-left: 20pt;
    padding-right: 20pt;
}

.result .preview {
    padding: 10pt;
}

img.thumbnail {
    width: 100px;
    height: 120px;
}

.result .rank {
    color: grey;
    padding-right:10pt;
}

.result .name { }
.result .score {
    color: grey;
    text-align: right;
}

.create-label-form {
    background-color: yellow;
    box-shadow: 10px 10px 5px #888888;
    padding:10px;
    border:2px solid gray;
    margin:0px; 
}


.read-only-li{
    background-color: red;
}

#tag-values{
    background-color: dimgray;
}
.type-button{
    margin: 2px 5px 2px 0;
}

/* styles for the drop down list by the search edit box */
.multiselect-item {
    text-align: left;
}
.right-align {
    text-align: right;
}

 #view-resource{
     /* render any HTML with newlines */
     white-space: pre;
     text-align: left;
 }

/* make navbar smaller (http://stackoverflow.com/questions/19576175/how-do-you-decrease-navbar-height-in-bootstrap-3) */
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important; color: white;}
.navbar-nav > li > a:hover {
    padding-top:5px !important; 
    padding-bottom:5px !important; 
    background-color: white !important; 
    color: blue;
    cursor: pointer;}
.navbar {min-height:32px !important}


#sidebar-button{ float:left; color: white;   cursor: hand;   font-weight: bold;}

/* override FancyTree CSS */
ul.fancytree-container {
    border: none;
}

td.metakey {
    padding: 8px;
    margin-left: 2cm;
}

body {
    margin: 0;
    padding-top: 100px; 
    overflow-y: hidden;
}