@(title: Html, subtext: String, nav: String = "")(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>Proteus Web</title>
    <style type="text/css">
        body {
        padding-top: 60px;
        padding-bottom: 40px;
        }
    </style>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.min.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="@routes.Application.index()">Proteus</a>
            <ul class="nav">
                <li><a href="/abstract">Abstract</a></li>
        </div>
    </div>
</div>


<div class="container">

    <div class="content">

        <div class="page-header">
            <h1>@title <small>@subtext</small></h1>
        </div>

        <div class="row">
            <div class="span">
                @content
            </div>
        </div>

    </div>
</div>

</body>
</html>